body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
.services{
  position: relative;
  height: 100%;
}
.el{
  width: 30vw;
  height: 30vh;
  padding: 1rem;

  background-image: url(https://images.pexels.com/photos/6457556/pexels-photo-6457556.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url(https://freesvg.org/img/1522440303.png);
  mask-size: 60vmin;
  mask-repeat: no-repeat;
  mask-position: center;
  /* position: absolute;
  left:50%;
  top:0; */
  /* position: relative;
  left: 50%;
  top:-5%;
  transform: translate(-50%,50%); */
}
.el-2{
  width: 35vw;
  height: 35vh;
  padding: 1rem;

  background-image: url(https://images.pexels.com/photos/5198284/pexels-photo-5198284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url(https://freesvg.org/img/1522440303.png);
  mask-size: 60vmin;
  mask-repeat: no-repeat;
  mask-position: center right;
  position: absolute;
  top:5%;
}
.el-3{
  width: 35vw;
  height: 35vh;
  padding: 1rem;

  background-image: url(https://images.unsplash.com/photo-1528123778681-01e39b42808e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url(https://freesvg.org/img/1522440303.png);
  mask-size: 60vmin;
  mask-repeat: no-repeat;
  mask-position: center right;
  position: absolute;
  top:25%;
 right: 5%;
}
.el-4{
  width: 35vw;
  height: 35vh;
  padding: 1rem;

  background-image: url(https://cdn.sanity.io/images/5mxkez8f/prod-multilang/bea33f5f266339a25308c257ea9e700d7b2884bb-3250x2207.jpg?w=1080&h=704&fit=crop);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url(https://freesvg.org/img/1522440303.png);
  mask-size: 60vmin;
  mask-repeat: no-repeat;
  mask-position: center right;
  position: absolute;
  top:-45%;
  left: 50%;
  transform: translate(-50%, 50%);

}
.swiper {
position: relative;
  height: 95vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}

.text:hover{
  color:rgba(0,24,69, 1)
}
.ul{
  list-style-type: none;
  line-height: 2rem;
}
.values{
padding-left: 25rem;
  display: flex;
  justify-content:center;
  align-items: center;
  line-height: 3rem;

}
.circle-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 150px;
}
.circular {
  height: 100px;
  width: 100px;
  position: relative;
  transform: scale(2);
}
.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  margin: -40px 0 0 -40px;
  background: #dde6f0;
  border-radius: 100%;
}
.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  width: 100%;
  font-weight: 500;
  color: #4158d0;
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #4158d0;
}
.circle .left .progress {
  z-index: 1;
  animation: left 4s linear both;
}
@keyframes left {
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.circle .right {
  transform: rotate(180deg);
  z-index: 3;
}
.circle .right .progress {
  animation: right 4s linear both;
  animation-delay: 4s;
}
@keyframes right {
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
